.translate-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.translate-wrapper select,
textarea {
    margin: 0;
    resize: none;
}

.translate-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.translate-main h6,
div,
p,
textarea {
    margin: 0;
    resize: none;
}

.translate-btn-group {
    margin: 0;
    padding: 6px 0;
}