.app-container {
  padding: 8px;
  margin: 0 auto;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  justify-content: space-between;
}

.app-header button {
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

.app-main {
  padding-top: 0;
}
